body {
    background-color: rgba(232,239,221);
    text-align: center;
    margin: 0 0;
    font-family: Advent Pro;

    background-color: #32C1E9;
    background-image: url('https://i.imgur.com/GLNbZoP.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.landing {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #E8EFDD;
    background-image: url('https://i.imgur.com/2H1PMPT.gif');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    transition: all 1.4s ease-in-out;
    user-select: none;
}

.landing-text {
    background-color: rgba(232,239,221,0.4);
}
.landing-name {
    margin-top: 20vh;
    font-size: 100px;
}

.enter-button {
    background-color: #E8EFDD;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    font-size: 25px;
    width: 200px;
    margin: 10% auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enter-button:hover {
    cursor: pointer;
    width: 210px;
    padding-top: 22px;
    padding-bottom: 22px;
}
.enter-button:active {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main {
    color: #633e24;
}
.about-name {
    padding-top: 10%;
    font-size: 100px;
}
.about-me {
    background-color: rgba(178,150,132,0.8);
    box-shadow: 5px 5px 5px black;
    font-size: 23px;
    width: 40%;
    padding: 10px 0;
    margin: 5% auto;
}
.github-logo {
    height: 17px;
    width: 17px;
}